@import "bootstrap";


body{
	background-color: #FFFFFF;
	font-family: 'quicksandbook', helvetica;
}


#wrapper {
	background-color: #222F38;
	width: 960px;	
	padding-bottom: 40px;
	margin: 0 auto;
}

p {
	color: #ffffff;
	margin: 0


}

img{
	max-width: 400px;

}
.btn a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


.btn input {
	border: none;
	background-color: transparent;
	color: #ffffff;

}


.row-fluid {
	position: relative;
	margin-left: 4%;
	top: 20px;
	min-height: 400px;

}
.span12 {
	background-color: #F99E1E;
	width: 960px;
	margin-left: 0;
	text-align: center;
}

.span12 h1 {
	font-family: 'pacificoregular', helvetica, sans-serif;
	margin: 1em;
	color: #222F38;
	font-size: 4em;

}
.span12 h6 {
	font-size: 1em;

}

.row-fluid .span11:first-child {
margin-left: 170px;
}

.row-fluid .span11 {
	width: 600px;
	position: relative;
	padding-top: 20px;
}

.row-fluid .span6:first-child {
margin-left: 350px;
}

.row-fluid .span4 {
  // min-height: 400px;
  margin-left:1%;
  *margin-left:1%;
  margin-bottom: 20px;
  width: 30%;
  overflow: hidden;
}

.image-container{
	height: 250px;
	width: 250px;
}

.span4 p {
	line-height: 1em;
}

